<html>
    <header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </header>
    <body>
        <div id="container">
            <div id="header">
                <h1>Vessel Book</h1>
                <button id="addBtn" (click)="add()">Add new ship</button>
                <input type="search" id="inSearch" (keyup)="search()" placeholder="Search...">
                <button id="search" class="btn"><i class="fa fa-search"></i></button>
            </div>
            
            <div id="mainContainer">
                
                <div class="shipCard" *ngFor="let ship of shipListDisplay ; let i = index">
                    <div id="mainBtns">
                        <button id="editBtn" (click)="edit(i)" *ngIf="ship.edit != true" class="btn"><i class="fa fa-pencil"></i></button>
                        <button id="deleteBtn" (click)="deleteConf(i)" *ngIf="ship.edit != true" class="btn"><i class="fa fa-close"></i></button>

                        <button id="cancelBtn" (click)="cancelEdit(i)" *ngIf="ship.edit == true" class="btn"><i class="fa fa-ban"></i></button>
                        <button id="saveEdidBtn" (click)="save(i)" *ngIf="ship.edit == true" class="btn"><i class="fa fa-check"></i></button>
                    
                    </div>
                    

                    <div id="imageBox">
                        <img [src]="imagesList[i]"  class="mySlides-{{i}}" alt="image">
                        <button id="removeImage" (click)="removeImage(i)" class="btn"  *ngIf="ship.edit == true"><i class="fa fa-trash-o"></i></button>
                        <button id="addImage" (click)="uploadImage(i)" class="btn"  *ngIf="ship.edit == true"><i class="fa fa-plus"></i></button>
                        <input type='file' id="getFile" style="display:none" (input)='addImage()'>
                        <div id="arrows">
                            <button *ngIf="ship.images.length > 0" class="w3-button w3-black w3-display-left prev" id="imageBtn" (click)="plusDivs(-1,i)">&#10094;</button>
                            <button *ngIf="ship.images.length > 0" class="w3-button w3-black w3-display-right next" id="imageBtn" (click)="plusDivs(1,i)">&#10095;</button>
                        </div>
                        
                    </div>  

                    <div id="info">
                        <input type="text" *ngIf="ship.edit == true" id="inName" [value]="ship.name">
                        <p *ngIf="ship.edit != true">Name: {{ship.name}}</p>

                        <input type="text" *ngIf="ship.edit == true" id="inIMO" [value]="ship.IMO">
                        <p *ngIf="ship.edit != true">IMO:{{ship.IMO}}</p>

                        <input type="text" *ngIf="ship.edit == true" id="inType" [value]="ship.type">
                        <p *ngIf="ship.edit != true">Type: {{ship.type}}</p>

                        <input type="text" *ngIf="ship.edit == true" id="inOwner" [value]="ship.owner">
                        <p *ngIf="ship.edit != true">Owner: {{ship.owner}}</p>

                        <input type="text" *ngIf="ship.edit == true" id="inContact" [value]="ship.contact">
                        <p *ngIf="ship.edit != true">Contact: {{ship.contact}}</p>

                        <input id="imageUp" *ngIf="ship.edit == true" type="file">
                    </div>
                    
                    

                    

                    
                    
                </div>
            </div>
            
            <div id="popup">
                <input id="newIMO" type="text" placeholder="IMO">
                <input id="newName" type="text" placeholder="Name">
                <input id="newType" type="text" placeholder="Type">
                <input id="newOwner" type="text" placeholder="Owner">
                <input id="newContact" type="text" placeholder="Contact"> 
                <input id="newImageUp"  type="file">
                <button id="saveBtn" (click)="saveNew()">Save</button>
                <button id="closeBtn" (click)="close()">Close</button>
            </div>

            <div id="confPopup">
                <button id="confDelete" (click)="delete()">Delete</button>
                <button id="cancelDelete" (click)="closeConf()">Cancel</button>
            </div>
        </div>


    </body>
    
</html>













<!-- <mat-toolbar>
    PS Social
    <span style="flex: 1 1 auto"></span>
    <button mat-button routerLink="/register">Register</button>
</mat-toolbar>
<router-outlet></router-outlet> -->