#header {
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    column-count: 3;
    justify-content: space-evenly;
    align-items: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

h1 {
    font-family: Snell Roundhand, cursive;  
    font-size: 250%;
}

#inSearch {
    height: 35%;
    width: 35%;
    position: relative;
    /* top: 25px; */
}

#addBtn{
    height: 50%;
    position: relative;
    /* top: 15px; */
}


/* #headerBar {
    display: flex;
    flex-direction: row-reverse;
    column-count: 2;
    justify-content: space-evenly;
    width: 50%;
    float: right;
} */

#inSearch{
    font-size: 15px;
}

#container {
    background-color: linen;
    height: max-content;
    padding-bottom: 20px;
}

#mainContainer{
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

#shipData {
    font-size: 14px;
    padding-top: 10px;
    margin-left: 5px;
    position: relative;
    top: 30px;
}

#shipData td {
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type=text] {
    border: none;
    background: transparent;
    border-bottom: 1px solid hotpink;
    font-size: 14px;
}

#editInfo table {
    font-size: 14px;
    margin-left: 5px;
}

#editInfo td {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

#removeImage {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


#info {
    background-color: whitesmoke;
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#imageBox img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#imageBox {
    width: 100%;
    height: 200px;
    
}

#popup{
    display: none;
}

#confPopup{
    display: none;
}


.prev, .next{
    width: 35px;
    height: 70px;
    background-color: rgba(88, 88, 88,.2);
    color:rgba(244, 244, 244,.9);
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

#imageBtn{
    font-size: 25pt;
    transform: translateY(-50%);
} 

.prev:hover, 
  .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff; 
	} 

#arrows {
    position: relative;
    bottom: 55%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#mainBtns button {
    float: right;
}

#mainBtns {
    height: 42px;
    margin-top: 5px;
}

#editBtn , #saveEdidBtn {
    margin-right: 5px;
}

.next{float: right;}

.btn {
    background-color: DodgerBlue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.editBtn {
    border: 2px solid orange;
    color: orange;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}

.deleteBtn, .cancelBtn {
    border: 2px solid red;
    color: red;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}

.saveBtn, .addBtn, .addShipBtn{
    border: 2px solid green;
    color: green;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}

.removeBtn{
    border: 2px solid gray;
    color: gray;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}

.uploadBtn{
    border: 2px solid darkcyan;
    color: darkcyan;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}


.parentDisable{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
    z-index: 998;
    height: 100%;
    width: 100%;
}

.parentDisable #header input {
    pointer-events: none;
}

#popup{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(173, 173, 173, 0.3);
}

#popupData {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: translate(0, -75%);
    top: 50%;
   
}

#popupData table {
    text-align: left;
    background-color: white;
    padding: 75px;
    border-radius: 5px;
}

#saveBtn {
    margin-left: 15px;
}

#popupData td {
    height: 50px;
}

#popupData input {
    font-size: 17px;
}



#confPopup{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: rgba(173, 173, 173, 0.3);
}

#confPopupData {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: translate(0, -75%);
    top: 50%;
   
}

#confPopupData table {
    text-align: center;
    background-color: white;
    padding: 75px;
}

#confPopupData td {
    height: 50px;
}
