<html>
    <body>
        <div id="container">
            <div id="header">
                <h1>Vessel Book</h1>
                <button id="addBtn" (click)="add()">Add new ship</button>
                <input type="search" id="inSearch" (keyup)="search()" placeholder="Search...">
                <button id="search">Search</button>
            </div>
            
            <div id="mainContainer">
                
                <div class="shipCard" *ngFor="let ship of shipListDisplay ; let i = index">
                    <button id="editBtn" (click)="edit(i)" *ngIf="ship.edit != true">Edit</button>
                    <button id="deleteBtn" (click)="deleteConf(i)" *ngIf="ship.edit != true">Delete</button>

                    <button id="saveEdidBtn" (click)="save(i)" *ngIf="ship.edit == true">Save</button>
                    <button id="cancelBtn" (click)="cancelEdit(i)" *ngIf="ship.edit == true">Cancel</button>

                    <input type="text" *ngIf="ship.edit == true" id="inName" [value]="ship.name">
                    <p *ngIf="ship.edit != true">{{ship.name}}</p>

                    <input type="text" *ngIf="ship.edit == true" id="inIMO" [value]="ship.IMO">
                    <p *ngIf="ship.edit != true">IMO:{{ship.IMO}}</p>

                    <input type="text" *ngIf="ship.edit == true" id="inType" [value]="ship.type">
                    <p *ngIf="ship.edit != true">{{ship.type}}</p>

                    <input type="text" *ngIf="ship.edit == true" id="inOwner" [value]="ship.owner">
                    <p *ngIf="ship.edit != true">{{ship.owner}}</p>

                    <input type="text" *ngIf="ship.edit == true" id="inContact" [value]="ship.contact">
                    <p *ngIf="ship.edit != true">{{ship.contact}}</p>

                    <input id="imageUp" *ngIf="ship.edit == true" type="file">

                    <div id="imageBox">
                        <img [src]="imagesList[i]"  class="mySlides-{{i}}" alt="image">
                        <button id="removeImage" (click)="removeImage(i)">Remove</button>
                        <button id="addImage" (click)="uploadImage(i)" >Add</button>
                        <input type='file' id="getFile" style="display:none" (input)='addImage()'>
                    </div>  
                    <button class="w3-button w3-black w3-display-left" (click)="plusDivs(-1,i)">&#10094;</button>
                    <button class="w3-button w3-black w3-display-right" (click)="plusDivs(1,i)">&#10095;</button>

                    
                    
                </div>
            </div>
            
            <div id="popup">
                <input id="newIMO" type="text" placeholder="IMO">
                <input id="newName" type="text" placeholder="Name">
                <input id="newType" type="text" placeholder="Type">
                <input id="newOwner" type="text" placeholder="Owner">
                <input id="newContact" type="text" placeholder="Contact"> 
                <input id="newImageUp"  type="file">
                <button id="saveBtn" (click)="saveNew()">Save</button>
                <button id="closeBtn" (click)="close()">Close</button>
            </div>

            <div id="confPopup">
                <button id="confDelete" (click)="delete()">Delete</button>
                <button id="cancelDelete" (click)="closeConf()">Cancel</button>
            </div>
        </div>


    </body>
    
</html>













<!-- <mat-toolbar>
    PS Social
    <span style="flex: 1 1 auto"></span>
    <button mat-button routerLink="/register">Register</button>
</mat-toolbar>
<router-outlet></router-outlet> -->