#header {
    width: 100%;
    height: 100px;
    background-color: gray;
}

h1 {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-family: Snell Roundhand, cursive;  
}

#inSearch{
    font-size: 15px;
}

#container {
    background-color: linen;
}

#mainContainer{
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    
}

#shipData {
    font-size: 14px;
    padding-top: 10px;
    margin-left: 5px;
    position: relative;
    top: 30px;
}

#shipData td {
    padding-top: 5px;
    padding-bottom: 5px;
}

input[type=text] {
    border: none;
    background: transparent;
    border-bottom: 1px solid hotpink;
    font-size: 14px;
}

#editInfo table {
    font-size: 14px;
    margin-left: 5px;
}

#editInfo td {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}

#removeImage {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}


#info {
    background-color: whitesmoke;
    height: 200px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#imageBox img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#imageBox {
    width: 100%;
    height: 200px;
    
}

#popup{
    display: none;
}

#confPopup{
    display: none;
}


.prev, .next{
    width: 35px;
    height: 70px;
    background-color: rgba(88, 88, 88,.2);
    color:rgba(244, 244, 244,.9);
    z-index: 99;
    transition: .45s;
    cursor: pointer;
    text-align: center;
}

#imageBtn{
    font-size: 25pt;
    transform: translateY(-50%);
} 

.prev:hover, 
  .next:hover{
		transition: .3s;
		background-color: rgba(88, 88, 89,.8);
		color: #ffffff; 
	} 

#arrows {
    position: relative;
    bottom: 55%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#mainBtns button {
    float: right;
}

#mainBtns {
    height: 42px;
    margin-top: 5px;
}

#editBtn , #saveEdidBtn {
    margin-right: 5px;
}

.next{float: right;}

.btn {
    background-color: DodgerBlue;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.editBtn {
    border: 2px solid orange;
    color: orange;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}

.deleteBtn, .cancelBtn {
    border: 2px solid red;
    color: red;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}

.saveBtn, .addBtn, .addShipBtn{
    border: 2px solid green;
    color: green;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}

.removeBtn{
    border: 2px solid gray;
    color: gray;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 16px;
    cursor: pointer;
}
